*{background-color: #525252}

body{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

html{
    scroll-behavior: smooth;
}

h1{ font-size: 4em;
    color: #525252;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

h2{ font-size: 2em;
    color: white;
    text-align: center;
    border-radius: 10px;
}

h3{ font-size: 1.5em;
    color: white;
    text-align: center;
    border-radius: 10px;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #FC7988;
    font-size: 1.6em;
}


#navegar{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    background-color: white;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: bold;
    color: #525252;
}

header a:hover{
    color: #FC7988;
}

header .navegar{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Imagen1{
    text-align: center;
}


#Imagen1 .imagen {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(207, 205, 205, 0.5);
    transition: 1s;
}


#Imagen1 .imagen:hover{
    box-shadow: 0px 0px 10px 5px #FC7988;
    content: url(imagenes/Imagen2.jpg);
    transition: 1s; 
}

#bibliografia p { font-size: 2em;
    background-color: white;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}

#bibliografia p:hover { font-size: 2em;
    background-color: #f7a9a8;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}

#Albumnes p {font-size: 2em;
    background-color: white;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}

#Albumnes p:hover { font-size: 2em;
    background-color: #f7a9a8;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}

#video p {font-size: 2em;
    background-color: white;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
}

#video p:hover {font-size: 2em;
    background-color: #f7a9a8;
    color: #525252;
    border-radius: 10px;
    text-align: center;
    transition: 2s;
    
}

#video .video{
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(207, 205, 205, 0.5);
    border-radius: 2%;
}

footer p{
    font-size: 30px;
    color: #7b7979;
    border-radius: 10px;

}

@media only screen and (max-width: 901px) {
    h1 {
      font-size: 2em;
    }
    
    #Imagen1 img {
      width: 100%;
      height: auto;
    }
    
    #video iframe {
      width: 100%;
      height: 300px;
    }
  }